body {
    background-color: blueviolet;
}

a {
    text-decoration: none;
    color: black;
}


.frutas {
    color: gold;
    font-size: 25px;
}

.verduras {
    color: greenyellow;
    font-size: 25px;
}

.carnes {
    color: white;
    font-size: 25px;
}